/* ------------------------------------------------------------
Theme Name: ProReview 

URI: http://proreviewtheme.com/

Description: The most powerful, advanced, effective and simple theme for creating awesome review sites in minutes with WordPress. ProReview Theme is stylish, customizable, simple, and readable -- make it yours with three custom menus, header image, and background. ProReview Theme supports widgets and featured images and has an optional one-column homepage template that hides the sidebar.

Author: ProReview Theme

Author URI: http://proreviewtheme.com/

Version: 2.3

Tags: black, blue,yellow, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments , custom-menu
 
------------------------------------------------------------- */

@import url(css/reset.css);@import url(css/superfish.css);@import url(css/slider-style.css);@import url(js/fancybox/jquery.fancybox-1.3.4.css);@import url(css/jquery.rating.css);@import url(css/fonts/JockeyOne/fonts.css);
body{background:#EEE url(images/bg.jpg);}
p{padding-bottom:20px;line-height:1.5em;color:#4e4e4e;}
h1,h2,h3,h4{line-height:24px;}
.top_list{background:url(images/topbg.jpg) repeat-x;overflow:hidden;position:relative;}
.top_list ul{float:right;margin-right:100px;list-style:none;}
.top_list ul li a{color:#848484;font-size:11px;display:block;padding:10px;}
.top_list_in{width:960px;position:relative;margin:auto;}
.top_list_in a.subscribe{position:absolute;right:0;top:0;font-size:13px;color:#848484;background:url(images/rss_icon.png) no-repeat 10px center;padding:8px 0 8px 42px;}
#header{overflow:hidden;background:url(images/header_bg.png);min-height:110px;width:960px;margin:40px auto auto;}
#header h1.logo{text-align: center;}
#header h1.logo_text{font-size:4em;color:#fff;font-family:JockeyOne-Regular, Arial, Verdana, Helvetica;padding:34px 40px 0;}
#header p.desc{font-size:11px;padding:5px 40px;}
.header_banner{float:right;padding:25px;}
.cat_nav{clear:both;background:url(images/cat_bg.png) repeat-x;z-index:9;}
.cat_nav ul li a{display:block;color:#7d7d7d;font-size:14px;border-right:1px solid #d1d1d1;border-left:1px solid #fff;padding:13px 20px;}
.cat_nav ul li a:hover{display:block;color:#fff;font-size:14px;border-right:1px solid #373737;border-left:1px solid #000;background:url(images/cat-bg.gif) repeat-x;padding:13px 20px;}
.page_wrapper{width:960px;repeat-y;margin:auto;border-right:1px solid #dbdbdb;border-top:1px solid #dbdbdb;border-left:1px solid #dbdbdb;}
.main_content{overflow:hidden;padding:0 30px;}
#primary{width:570px;float:left;margin-right:30px;font-size:13px;color:#4e4e4e;line-height:1.5em;}
#primary-full{width:900px;float:left;margin-right:30px;font-size:13px;color:#4e4e4e;line-height:1.5em;}

.welcome_text{border:1px solid #e7e7e7;border-radius:4px;box-shadow:0 0 7px #e7e7e7;background:#f8f8f8;overflow:hidden;margin-bottom:30px;}
.welcome_text h1{display:inline-block;border-bottom:1px solid #e7e7e7;font-size:18px!important;color:#888;font-weight:400!important;margin:0!important;padding:10px 15px;}
.welcome_text .author_image{background:url(images/loading.gif) no-repeat center center;width:80px;height:80px;float:left;box-shadow:0 0 7px #b5b5b5;margin:15px;padding:5px;}
.welcome_text p{color:#4e4e4e;font-size:13px;line-height:1.4em;padding:15px;}
.welcome_text a.read_more{font-size:13px;color:#1e85c7;display:block;margin:0 0 10px 120px;}
.main_content.padd,.main_content.blog{padding:30px;}
.recommended{background:url(images/ribbon.png) no-repeat top left;z-index:9;}
.single_review .ribbon{position:absolute;top:-2px;left:-2px;width:120px;height:115px;z-index:2;}
.single_review{background:#f8f8f8;margin-bottom:30px;position:relative;border-bottom: 1px solid #dbdbdb;height: 194px;}
.single_review h2{display:inherit!important;padding-bottom:10px;margin:0!important;}
.single_review h2 a{font-size:18px;color:#1d1d1d;line-height:1.3em;}
.single_review p.prod_meta{font-size:11px;background:url(images/cat_icon.png) no-repeat 312px 2px;padding-left:330px;padding-bottom:10px;}
.single_review .review_data{overflow:hidden;padding:33px 0px 0px 20px;width:703px; float:left;height:161px;border-right:1px solid #dbdbdb;}
.single_review .review_bottom{border-top:1px solid #fff;overflow:hidden;padding:10px;}
.single_review .review_bottom a.visit{margin:0 auto;background:url(images/visit_button.png) no-repeat;width:168px;height:40px;display:block;text-indent:-9999px;margin-bottom: 10px;}
.single_review .review_bottom a.read{margin:0 auto;background:url(images/read_button.png) no-repeat;width:168px;height:40px;display:block;text-indent:-9999px;}
.review_rating{display:block;background:url(images/stars.png) no-repeat;height:14px;width:84px;text-indent:-9999px;margin:0 auto;margin-top:18px;margin-bottom:16px;}
#average_rating_wrap{clear:both;width:100%;float:left;background:#eee;height:60px;margin:10px 0 20px;padding:0;}
.average_rating{display:block;background:url(images/stars_user.png) no-repeat;height:14px;width:84px;text-indent:-9999px;float:left;}
#comments_template .review_rating{background:url(images/stars_user.png) no-repeat;}

p.user-rev{float:left;font-size:11px;font-weight:400;margin:-5px 0 0 10px;}
p.user-rev span{font-size:16px!important;}
.reviews_banner{border:1px solid #e1e1e1;margin-bottom:20px;text-align:center;min-height:50px;background:url(images/loading.gif) no-repeat center center;padding:8px;}
.reviews_pagination,.posts_pagination{overflow:hidden;clear:both;margin:20px 0;}
.reviews_pagination a,.posts_pagination a{color:#36B;font-size:13px;float:right;background:url(images/next.png) no-repeat right center;height:24px;line-height:24px;padding:0 30px;}
.reviews_pagination .newer_links a,.posts_pagination .newer_links a{float:left;background:url(images/prev.png) no-repeat left center;}
.page_navigation a.prev{display:block;float:left;background:url(images/prev.png) no-repeat left center;}
.page_navigation a.next{display:block;float:right;background:url(images/next.png) no-repeat right center;}
#primary .pagination{clear:both;position:relative;font-size:11px;line-height:13px;padding:20px 0;}
#primary .pagination span,#primary .pagination a{display:block;float:left;text-decoration:none;width:auto;color:#fff!important;background:#787878;margin:2px 2px 2px 0;padding:6px 9px 5px;}
#primary .pagination a:hover{color:#fff;background:#0088c0;}
#primary .pagination .current{background:#0088c0;color:#fff;padding:6px 9px 5px;}
#two_columns .single_review{float:left;width:275px;border:2px solid #ECECEC;height:auto;margin:10px 10px 10px 0;}
#two_columns p{font-weight:700;min-height:40px;padding:5px 0;}
#pro_reviews .preload_image img{/*box-shadow:0 0 8px #b4b4b4;-webkit-box-shadow:0 0 8px #b4b4b4;-moz-box-shadow:0 0 8px #b4b4b4;padding:6px;*/}
#pro_reviews .preload_image{z-index:1;float:left;margin-right:20px;width:100px;}
#three_columns .single_review{float:left;width:180px;border:2px solid #ECECEC;height:340px;margin:10px 8px 10px 0;}
#three_columns p{font-weight:700;padding:5px 0;}
.standard_post_items{clear:both;}
.standard_post_items .post_item h2.title a{color:#1d1d1d;font-size:16px;}
.standard_post_items .post_item h2.title{border-top:1px solid #bbb;border-bottom:1px dotted #bbb;margin-bottom:0!important;padding:10px 0;}
.standard_post_items .post_item p{font-size:13px;color:#333;}
.standard_post_items .post_item p.post_meta{font-size:11px;background:url(images/auth_icon.png) no-repeat left center;color:#888;padding:10px 20px;}
.standard_post_items .post_item a{color:#777;}
.standard_post_items .post_item a.more{color:#1e85c7;font-size:13px;margin-bottom:20px;display:block;}
.standard_post_items.single h2.title{border:none!important;margin-bottom:10px!important;padding:0!important;}
.standard_post_items.single h2.title a{font-size:24px!important;color:#1d1d1d!important;}
.widget_area_side{border:5px solid #ececec;border-radius:5px;margin-bottom:30px;}
.widget_area_side ul li{padding:10px;}
.widget_area_side h3{color:#666;border-bottom:1px solid #c4c4c4;padding:10px;}
.top_rated_widget_in{border:1px solid #dfdfdf;}
.top_rated_widget_in .top_bar{background:#303030;overflow:hidden;border-top:2px solid #e2e2e2;border-bottom:2px solid #e2e2e2;}
.top_rated_widget_in .top_bar span{color:#9a9a9a;font-size:11px;display:block;float:left;border-right:1px solid #202020;border-left:1px solid #4a4a4a;}
.top_rated_widget_in .top_bar span.rank{padding:10px 12px;}
.top_rated_widget_in .top_bar span.prod{padding:10px 50px;}
.top_rated_widget_in .top_bar span.rat{padding:10px 30px;}
.top_rated_widget_in .top_reviews{border:1px solid #c4c4c4;}
.top_rated_widget_in .top_reviews ul li{border-top:2px solid #e2e2e2;border-bottom:1px solid #c4c4c4;clear:both;overflow:hidden;position:relative;padding:10px;}
.top_rated_widget_in .top_reviews ul li:first-child{border-top:none;}
.top_rated_widget_in .top_reviews ul li:last-child{border-bottom:none;}
.top_rated_widget_in .top_reviews ul li span.count{background:url(images/rank_bg.png) no-repeat;width:28px;height:28px;display:block;color:#fff;float:left;font-weight:700;text-align:center;line-height:27px;margin-right:10px;}
.top_rated_widget_in .top_reviews ul li a.prod_link{color:#272727;font-size:13px;font-style:italic;width:133px;display:block;float:left;line-height:1.3em;padding:0 5px;}
.top_rated_widget_in .top_reviews ul li a.tr_read{color:#949494;font-size:11px;background:#e1e0e0;border:2px solid #cdcdcd;border-radius:10px;text-transform:uppercase;position:absolute;top:54%;right:25px;padding:2px 8px;}
.small_rating{display:block;position:relative;top:-4px;background:url(images/stars.png) no-repeat;text-indent:-9999px;width:84px;float:right;}
.socail_widget_in{border:1px solid #e0e0e0;overflow:hidden;background:#f8f8f8;}
.socail_widget_in a span{font-size:13px;color:#8f8f8f;}
.socail_widget_in a.tw{background:url(images/twitter.png) no-repeat 10px center;padding:30px 14px 30px 70px;}
.socail_widget_in a.fb{background:url(images/fb.png) no-repeat 10px center;padding:30px 20px 30px 70px;}
.socail_widget_in a.gp{background:url(images/gp.png) no-repeat 10px center;padding:30px 14px 30px 70px;}
.socail_widget_in a.yt{background:url(images/yt.png) no-repeat 10px center;padding:30px 10px 30px 70px;}
.socail_widget_in a.pn{background:url(images/pn.png) no-repeat 10px center;padding:30px 10px 30px 70px;}
.video_widget_in a.link{background:url(images/big_button.png) no-repeat;width:300px;height:47px;display:block;text-align:center;color:#282828;line-height:47px;margin-top:20px;font-weight:700;font-size:16px;}
.testimonial_widget_in p{background:#eaedef;font-size:13px;font-style:italic;padding:10px;}
.testimonial_widget span.author{font-size:11px;color:#0f0f0f;float:right;background:url(images/testi_bg.png) no-repeat top right;padding:20px;}
.sponsors_widget_in ul li{clear:both;overflow:hidden;position:relative;}
.sponsors_widget_in ul li a.link_text{color:#1d1d1d;padding-bottom:10px;display:block;line-height:1.3em;}
.sponsors_widget_in ul li img{float:left;margin-right:10px;}
.sponsors_widget_in p.meta{color:#929292;font-size:11px;padding-bottom:10px;}
.sponsors_widget_in .small_rating{position:absolute;left:138px;top:80%;}
.sponsors_widget ul li{padding:10px 0;}
.sponsor_single{border:none;padding:0;}
.optin_widget{border:none;width:300px;}
.optin_widget .box_heading{background:#010101 url(images/heading-bg.jpg) no-repeat top;min-height:50px;padding-top:8px;padding-left:5px;padding-right:5px;}
.optin_widget .box_heading h3{font-size:12px;text-align:center;font-family:Arial, sans-serif;color:#fff;text-transform:uppercase;border:none;padding:14px 0;}
.optin_widget p{font-size:12px;line-height:1.8em;font-family:Arial, sans-serif;color:#666;display:block;padding:0 20px;}
.optin_widget form{padding:0 20px 20px;}
.optin_widget form input[type=text]{font-size:13px;font-weight:700;color:#666;width:240px;margin:5px 5px 5px -1px;padding:9px;}
.optin_widget form input[type=submit]{background:url(images/optin_button.png) no-repeat;width:262px;height:39px;text-indent:-99999999px;border:none;cursor:pointer;margin-top:5px;}
.box_body{background:#fff url(images/box-bodybg.jpg) repeat-y;padding:5px;}
.optin_form{background:url(images/optin_bg.png) repeat-y;width:300px;color:#FFF;}
.optin_top{background:url(images/optin_top.png) no-repeat top center;width:300px;height:29px;}
img.optin_img{display:block;margin-left:auto;margin-right:auto;margin-top:5px;}
#sidebar .no-border,.no-border.widget_area_side h3,.video_widget,.testimonial_widget,.sponsors_widget{border:none;}
ul.twitter-list{list-style:none;padding-bottom:15px;border-bottom:1px solid #eee;margin:10px 10px 0 5px;}
ul.twitter-list li{background:url(images/w-twitter.png) no-repeat 0 5px;font-size:13px;line-height:1.3em;padding:8px 0 8px 35px;}
.widget_area_side ul li span.twitter-date{font-size:10px;font-style:italic;margin:0 20px 0 0;padding:0;}
.widget_area_side ul li span.twitter-text a:link,.widget_area_side ul li span.twitter-text a:visited{font-size:12px;float:none;display:inline;background:none;border:none;color:#0088c0;margin:0;padding:0;}
.widget_area_side span.twitter-follow{-moz-box-shadow:inset 0 1px 0 0 #fff;-webkit-box-shadow:inset 0 1px 0 0 #fff;box-shadow:inset 0 1px 0 0 #fff;background:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef',endColorstr='#d6d6d6');background-color:#efefef;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #c8c8c8;display:inline-block;color:#333;font-family:arial;font-size:14px;font-weight:700;text-decoration:none;text-shadow:1px 1px 0 #fff;text-align:right;margin:15px -5px 15px 155px;padding:7px 10px;}
.widget_area_side span.twitter-follow	a{color:#0088c0;padding:5px 10px;}
#my_contact_form{width:100%;}
#my_contact_form ul li{background:none repeat scroll 0 0 transparent!important;margin-bottom:20px;font-size:11px!important;padding-left:5px;color:#777!important;}
#my_contact_form ul li input{border:1px solid #dcdcdc;background:#f7f7f7;width:268px;height:32px;border-radius:3px;-webkit-border-radius:3px;margin-right:5px;color:#777;padding:0 10px;}
#contactForm input:hover,#contactForm input:focus,#contactForm textarea:focus,#contactForm textarea:hover{box-shadow:0 0 3px #999;-webkit-box-shadow:0 0 3px #999;}
#contactForm textarea{width:456px;height:110px;border-radius:4px;-webkit-border-radius:4px;border:1px solid #dcdcdc;background:#f7f7f7;color:#aaa;padding:10px;}
#contactForm input.submit_button{border:none;height:32px;width:131px;color:#fff;font-weight:700;background:#ffc454;float:left;margin:0;}
.google_maps{float:left;margin:0 30px 30px 0;}
.map_content{padding-top:20px;}
.content_sep{height:2px;background:url(images/content_sep.png);margin:20px 0;}
.map_content p{padding-bottom:6px;}
.map_content p span.title{font-weight:700;}
.widget_area_contact{width:266px;float:left;margin:0 25px 30px 0;}
.widget_area_contact h3{color:#4a4a4a;}
.widget_area_contact.category_widget ul li,.widget_area_contact.main_category_widget ul li{background:none;padding-left:0;}
#comments_template{width:570px;padding:30px 0;}
#comments_template h3{color:#494949;font-size:18px;line-height:1.4em;margin-bottom:0;font-weight:700;font-style:italic;}
ul.commentlist li.comment{list-style:none;border-bottom:1px solid #bbb;background:#fcfcfc;clear:both;padding-top:10px;}
#comments_template ul.children{padding-left:30px;}
.comment-body .vcard{float:left;margin-right:20px;width:60px;height:60px;background:url(images/loading.gif) no-repeat center center;}
#comments_template cite.fn{position:relative;top:0;}
.comment-meta,#comments_template .review_rating{position:relative;top:0;padding:1px 0 0;}
#comments_template .review_rating{float:none!important;margin:1px 80px 5px!important;}
cite.fn a{font-size:13px!important;font-weight:700;color:#404040;}
span.says{color:#4e4e4e;font-size:14px;display:none;}
.comment-meta a{color:#989898;line-height:1.5em;}
.comment-body p{color:#4e4e4e!important;font-size:13px!important;padding-bottom:10px!important;}
div.reply a{color:#1197dc;font-size:13px!important;font-style:italic;}
#respond{margin-top:20px;clear:both;padding-bottom:30px;overflow:hidden;}
#respond h3{color:#202020;font-size:24px;line-height:1.4em;width:100%;margin-bottom:10px;}
#respond span.required{color:#c6c6c6;}
#respond input[type=text]{border:1px solid #c6c6c6;-webkit-border-radius:3px;border-radius:3px;background:#f5f5f5;color:#a0a0a0;line-height:35px;width:218px;height:36px;padding:0 10px;}
#respond textarea{border:1px solid #c6c6c6;-webkit-border-radius:3px;-moz-border-radius:3px;width:288px;height:127px;background:#f5f5f5;overflow:hidden;color:#a0a0a0;}
#respond input#submit{border:medium none;color:#FFF;float:right;text-indent:-9999px;height:40px;width:168px;background:url(images/submit_comment.png) no-repeat;display:block;cursor:pointer;}
#respond input:hover,#respond input:focus,#respond textarea:focus,#respond textarea:hover{box-shadow:0 0 5px #888;-webkit-box-shadow:0 0 5px #888;}
div.column_left{width:240px!important;float:left;margin-right:30px;overflow:hidden;}
#commentform p.comment-form-email,#commentform p.comment-form-url{clear:left!important;}
#commentform p label{color:#2b2b2b;font-size:13px!important;font-weight:700;}
p.comment_ratings{float:left;display:inline-block;position:relative;padding-top:22px;}
p.comment_ratings label{position:absolute;top:0;left:0;}
#footer{clear:both;}
#footer .foot_top{background:url(images/foot_top.jpg) repeat-x;overflow:hidden;height:57px;padding:0 20px;}
#footer .foot_top p{font-size:13px;color:#c2c2c2;display:inline;float:left;padding:20px 10px;}
#footer .foot_top ul{list-style:none;}
#footer .foot_top ul li a{font-size:11px;color:#c2c2c2;display:block;padding:23px 10px;}
#footer a{color:#fff;}
#footer .foot_disclaimer{clear:both;overflow:hidden;font-size:12px;color:#515151;text-align:left;padding:5px 10px;}
#footer .foot_bottom{clear:both;background-color: #047979;font-size:12px;color:#b4b4b4;font-weight:700;padding:5px 20px;height: 60px;border-bottom:5px solid #023a3a;}
#footer .foot_bottom span.bold{font-weight:700;color:#b4b4b4;}
#footer .foot_bottom p{color:#f9f6f6;padding:0;}
.clear{clear:both!important;}
.full_width{width:570px!important;}
.extra_width{width:930px!important;margin-right:0!important;}
.review_bar{background:url(images/review_head_bg.png) repeat-x;overflow:hidden;position:relative;left:-30px;width:600px;margin-bottom:20px;}
.review_bar h2{color:#fff!important;font-weight:700;font-size:18px!important;float:left;width:70%!important;margin-bottom:0!important;padding:10px 10px 10px 30px;}
.review_single h1.prod_title{font-size:24px!important;color:#1d1d1d!important;font-weight:700!important;font-style:italic!important;margin-bottom:25px!important;line-height:1.3em!important;float:left;width:100%;}
.review_single .preload_image{margin-bottom:5px;float:left;width:305px;}
.review_single .preload_image img{background:#fff;border:2px solid #eee;padding:8px;}
.review_single .brief{border:6px solid #ececec;border-radius:6px;overflow:hidden;position:relative;top:-3px;margin-bottom:5px;float:right;width:230px;padding:10px;}
.review_single .brief p{line-height:1.3em;font-size:11px;color:#4e4e4e;padding:0;}
.review_single .brief p.meta{color:#888;font-size:11px;background:url(images/cat_icon.png) no-repeat left 3px;padding:0 10px 10px 20px;}
.review_single .brief p.price{font-size:18px;font-weight:700;color:#4e4e4e;padding-bottom:10px;}
.review_single .brief a.visit{background:url(images/visit_button.png) no-repeat;width:168px;height:40px;display:block;text-indent:-9999px;margin:10px 0 0;}
.review_single p.meta.tags a:hover{text-decoration:none;}
.full_width .review_single .preload_image{margin-bottom:5px;float:left;width:320px;}
.full_width .review_single .brief{float:right;width:540px;}
.social_icons{background:#f8f8f8;border:1px solid #e5e5e5;border-radius:5px;overflow:hidden;padding:10px;}
.social_icons h3{float:left;font-size:16px!important;font-weight:700!important;font-style:italic;color:#515151!important;display:inline!important;width:auto!important;line-height:34px!important;margin:0!important;}
.social_icons ul{float:right;margin:0!important;}
.social_icons ul li{float:left;line-height:9px!important;margin-left:5px;}


#primary ul,#primary-full ul{margin:0;padding:0;}
#primary ul li,#primary-full ul li{color:#4E4E4E;font-size:13px;line-height:20px;margin-left:20px;padding-bottom:0;}
#primary h1,#primary h2,#primary h3,#primary h4,#primary h5,#primary h6,#primary-full h1,#primary-full h2,#primary-full h3,#primary-full h4,#primary-full h5,#primary-full h6{font-family:Arial ,Helvetica, serif;font-weight:700;margin-bottom:20px;color:#494949;width:auto;display:block;}
#primary h1,#primary-full h1{font-size:28px;letter-spacing:-.5px;line-height:30px;}
#primary h2,#primary-full h2{font-size:24px;letter-spacing:-.5px;}
#primary h3,#primary-full h3{font-size:20px;letter-spacing:-.25px;}
#primary h4,#primary-full h4{font-size:16px;}
#primary h5,#primary-full h5{font-size:14px;}
#primary h6,#primary-full h6{font-size:12px;}
#primary ul,#primary-full blockquote,#primary-full pre,#primary-full ul,#primary-full blockquote,#primary-full pre{margin-bottom:20px;}
#primary ol,#primary-full ol{list-style:decimal;padding-left:20px;}


.check_list ul,.cross_list ul,.play_list ul,.star_list ul{list-style-type:none;margin:0;padding:0;}
.check_list ul li{font-size:14px;color:#969696;padding-left:25px;background:url(images/check.png) no-repeat 0 3px;margin:0 0 5px;}
.cross_list ul li{font-size:14px;color:#969696;padding-left:25px;background:url(images/cross.png) no-repeat 0 3px;margin:0 0 5px;}
.play_list ul li{font-size:14px;color:#969696;padding-left:25px;background:url(images/arrow-ico.png) no-repeat 0 3px;margin:0 0 5px;}
.star_list ul li{font-size:14px;color:#969696;padding-left:25px;background:url(images/star-ico.png) no-repeat 0 3px;margin:0 0 5px;}
.divider{background:url(images/divider.png) no-repeat;margin-top:5px;margin-bottom:5px;}
#primary blockquote,#primary-full blockquote{color:#767676;background:#eaedef;font-size:16px;font-style:italic;width:540px;margin:0 auto 20px;padding:15px;}
#primary a.check_out,#primary-full a.check_out{background:url(images/checkout.png) no-repeat;text-indent:-9999px;display:block;width:387px;height:83px;margin:0 auto 20px;}
#primary a.tell_more,#primary-full a.tell_more{background:url(images/tellmore.png) no-repeat;text-indent:-9999px;display:block;width:387px;height:83px;margin:0 auto 20px;}
#primary a.big_green,#primary-full a.big_green{background:url(images/big-green.png) no-repeat;text-indent:-9999px;display:block;width:387px;height:94px;margin:0 auto 20px;}
#primary a.big_red,#primary-full a.big_red{background:url(images/big-red.png) no-repeat;text-indent:-9999px;display:block;width:387px;height:94px;margin:0 auto 20px;}
#primary a.big_blue,#primary-full a.big_blue{background:url(images/big-blue.png) no-repeat;text-indent:-9999px;display:block;width:387px;height:94px;margin:0 auto 20px;}
#primary a.big_yellow,#primary-full a.big_yellow{background:url(images/big-yellow.png) no-repeat;text-indent:-9999px;display:block;width:387px;height:94px;margin:0 auto 20px;}
#primary a.download_blue,#primary-full a.download_blue{background:url(images/downblue.png) no-repeat;text-indent:-9999px;display:block;width:387px;height:83px;margin:0 auto 20px;}
#primary a.download_red,#primary-full a.download_red{background:url(images/downred.png) no-repeat;text-indent:-9999px;display:block;width:387px;height:83px;margin:0 auto 20px;}
#primary a.az_cart,#primary-full a.az_cart{background:url(images/az-cart.png) no-repeat;text-indent:-9999px;display:block;width:388px;height:75px;margin:0 auto 20px;}
#primary a.az_check,#primary-full a.az_check{background:url(images/az-check.png) no-repeat;text-indent:-9999px;display:block;width:388px;height:75px;margin:0 auto 20px;}
#primary a.az_prod,#primary-full a.az_prod{background:url(images/az-prod.png) no-repeat;text-indent:-9999px;display:block;width:388px;height:75px;margin:0 auto 20px;}
#primary a.az_visit,#primary-full a.az_visit{background:url(images/az-visit.png) no-repeat;text-indent:-9999px;display:block;width:388px;height:75px;margin:0 auto 20px;}
#primary a.visit_site,#primary-full a.visit_site{background:url(images/visitnow.png) no-repeat;text-indent:-9999px;display:block;width:387px;height:83px;margin:0 auto 20px;}
.conclusion_table{width:570px;margin:0 auto 20px;}
.conclusion_table .table_top{background:url(images/conclusion_bg.jpg) repeat-x;color:#f4f4f4;overflow:hidden;padding:4px 15px;}
.conclusion_table .table_top span.rat{float:right;text-align:center;width:200px;}
.conclusion_table .table_left{width:320px;float:left;border-right:1px solid #c5c5c5;font-size:11px;padding:5px 10px;}
.conclusion_table .table_right{text-align:center;margin:8px 72px;}
.conclusion_table .t_row{clear:both;border-bottom:1px solid #c5c5c5;border-top:1px solid #fff;background:#ebebeb;overflow:hidden;}
.uni_banner{background:#f4f4f4;border:1px solid #e1e1e1;margin-bottom:20px;padding:10px;}
img.alignleft{float:left;margin:0 15px 8px 0;}
img.alignright{float:right;margin:0 0 8px 15px;}
img.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.widget_search{padding:5px;}
.widget_search #s{width:240px;margin:0;}
.widget_area_side input{border:1px solid #fff;}
.widget_area_side input#searchsubmit{width:31px;height:26px;text-indent:-99999em;border:0;background:url(images/ico-search.png) no-repeat;}
.review_cat select{width:270px;background:#f4f4f4;border:1px solid #eee;margin:20px 10px;padding:5px 10px;}
.standard_post_content .post_item{background:#F8F8F8;border:5px solid #ECECEC;border-radius:5px 5px 5px 5px;margin-bottom:30px;position:relative;height:155px;clear:both;overflow:visible;padding:20px;}
.standard_post_content .post_item .title a{color:#1D1D1D;font-size:18px;line-height:1.3em;}
.standard_post_content a.more{color:#36B;}
.standard_post_content .post_meta{padding-bottom:10px;}
.standard_post_content .preload_image{float:left;height:190px;margin-right:35px;width:75px;z-index:1;}
.standard_post_content .review_bottom{border-top:1px solid #FFF;overflow:hidden;padding:10px;}
.standard_post_content .review_bottom a.read{float:right;background:url(images/read_button.png) no-repeat scroll 0 0 transparent;display:block;height:40px;text-indent:-9999px;width:168px;}
table.tablesorter{font-family:arial;font-size:8pt;width:100%;text-align:left;margin:10px 0 15px;}
table.tablesorter thead tr th,table.tablesorter tfoot tr th{background-color:#9ceaff;border:0 solid #FFF;font-size:8pt;-moz-box-shadow:0 0 1px #156f88;-webkit-box-shadow:0 0 1px #156f88;box-shadow:0 0 1px #156f88;filter:progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135,Strength=3);padding:5px 8px;}
table.tablesorter thead tr .header{background-image:url(images/bg.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;}
table.tablesorter tbody td{color:#3D3D3D;background-color:#FFF;vertical-align:top;padding:5px 8px;}
table.tablesorter tbody tr.odd td{background-color:#fbfbfb;}
table.tablesorter tbody tr.even td{background-color:#f9f9f9;}
table.tablesorter thead tr .headerSortUp{background-image:url(images/asc.gif);}
table.tablesorter thead tr .headerSortDown{background-image:url(images/desc.gif);}
table.tablesorter thead tr .headerSortDown,table.tablesorter thead tr .headerSortUp{background-color:#80d6ed;}
#compare_review_table p{padding-bottom:3px;}
#compare_review_table.tablesorter tbody tr.odd td,#compare_review_table.tablesorter tbody tr.even td{-moz-box-shadow:0 0 1px #888;-webkit-box-shadow:0 0 1px #888;box-shadow:0 0 1px #888;filter:progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=135,Strength=3);}
#compare_review_table.tablesorter td{border-bottom:1px solid #eee;}
.two_columns p{width:65%;float:left;}
.two_columns .review_rating{width:35%;float:right;}
#shortView{margin-top:5px;height:85px;overflow-y:hidden;}
#shortView p{color:#999;font-size:13px;float:none;width:100%;font-weight:400;}
#two_columns #more a{color:#36B;font-size:12px;text-align:right;float:right;}
.slides ul{width:610px!important;}
#contactForm ul li{list-style:none;width:395px;}
#contactForm ul li.textarea{list-style:none;width:495px;}
.optin_widget .wf-formTpl{width:250px;margin:auto;}
.success_sc,.warning_sc,.message_sc,.stop_sc{clear:both;-webkit-border-radius:4px;border-radius:4px;margin-bottom:20px;font-size:13px;color:#202020!important;line-height:1.5em!important;padding:15px 10px 15px 60px;}
.success_sc{background:#d6ec90 url(images/success.png) no-repeat 10px center;border:1px solid #aac260;}
.warning_sc{background:#fbf4c4 url(images/warning.png) no-repeat 10px center;border:1px solid #f2e8a0;}
.warning_sc p,.success_sc p,.message_sc p,.stop_sc p{padding-bottom:0;}
.message_sc{background:#DBE8ED url(images/message.png) no-repeat 10px center;border:1px solid #A5BCD8;}
.stop_sc{background:#FCD1D1 url(images/alert.png) no-repeat 10px center;border:1px solid #F09B9B;}
.dropcap-1{display:block;float:left;font-size:40px;line-height:40px;font-family:'times new roman', Georgia, Arial, Verdana, sans-serif;font-style:italic;margin:0 8px 0 0;}
.dropcap-2{display:block;float:left;font-size:40px;line-height:40px;font-family:'times new roman', Georgia, Arial, Verdana, sans-serif;margin:0 8px 0 0;}
.dropcap-3{color:#fff;float:left;font-size:24px;height:40px;line-height:32px;margin-right:10px;padding-top:5px;text-align:center;width:40px;background:url(images/dropcap.png) no-repeat 50% 0;}
.dropcap-4{color:#fff;float:left;font-size:24px;height:35px;line-height:34px;margin-right:10px;padding-top:2px;margin-top:5px;text-align:center;width:40px;background:#ddd;}
.dropcap-5{color:#fff;float:left;font-size:24px;height:35px;line-height:30px;margin-right:10px;padding-top:5px;margin-top:5px;text-align:center;width:40px;background:#ddd;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.dropcap-silver{display:block;float:left;font-size:40px;line-height:40px;font-family:Arial, Verdana,'times new roman', Georgia, sans-serif;color:#c7c7c7;margin:5px 10px 0 0;}
.dropcap-black{display:block;float:left;font-size:40px;line-height:40px;font-family:Arial, Verdana,'times new roman', Georgia, sans-serif;color:#000;margin:5px 10px 0 0;}
a,a:hover{color:#444;}
#header h1.logo_text a,#header p.desc,#footer a:hover{color:#fff!important;}
.top_list ul li,.cat_nav ul li,.star-rating-control,#footer .foot_top ul li{float:left;}
.single_review p,.review_single p{font-size:13px;width:678px;}
#user-rating-wrap,div.reply,#footer .foot_top ul,.review_bar .review_rating,#contactForm ul li input[type=text]{float:right;}
.stars_0,.average_rating .stars_0{background-position:0 0!important;}
.stars_0_5,.average_rating .stars_0_5{background-position:0 -17px!important;}
.stars_1,.average_rating .stars_1{background-position:0 -32px!important;}
.stars_1_5,.average_rating .stars_1_5{background-position:0 -47px!important;}
.stars_2,.average_rating .stars_2{background-position:0 -62px!important;}
.stars_2_5,.average_rating .stars_2_5{background-position:0 -77px!important;}
.stars_3,.average_rating .stars_3{background-position:0 -92px!important;}
.stars_3_5,.average_rating .stars_3_5{background-position:0 -107px!important;}
.stars_4,.average_rating .stars_4{background-position:0 -122px!important;}
.stars_4_5,.average_rating .stars_4_5{background-position:0 -137px!important;}
.stars_5,.average_rating .stars_5{background-position:0 -152px!important;}
.page_navigation a.page-numbers,.page_navigation span.page-numbers,.screenReader,p.comment-notes,p.form-allowed-tags,.widget_search .screen-reader-text{display:none;}
#two_columns .single_review.last_preview,#three_columns .single_review.last_preview{float:right;margin:10px 0;}
#two_columns .single_review .review_data,#three_columns .single_review .review_data{border-bottom:0;padding:5px;}
#two_columns .review_rating,#three_columns .review_rating{margin:5px 0;}
#sidebar,div.column_right{width:300px;overflow:hidden;}
.socail_widget_in a,.conclusion_table .table_top span{display:block;float:left;}
.testimonial_widget_in,#commentform{overflow:hidden;}
.widget_area_side ul li span.twitter-text a:hover,.review_single p.meta.tags a{text-decoration:underline;}
#contactForm input.submit_button:hover,#contactForm input.submit_button:focus,#respond input#submit:hover,#respond input#submit:focus{box-shadow:none;-webkit-box-shadow:none;}
#primary .standard_post_content .post_item h2.title,#compare_review_table h6{margin-bottom:5px;}
#two_columns .single_review p a,#primary .standard_post_items .post_item h2 a{color:#444!important;}



.contact-us{
    float:right;
    padding:7px 19px 12px 19px;*/
    height:30px;
    background:#037979;
    border-radius:0px 0px 3px 3px;
    color:white;
    font-size:12px;
    cursor: pointer;
}

.who-we-are-area {
	width: 960px;
	margin:0 auto;
	margin-top: 60px;
	margin-bottom: 50px;
}
.who-we-are-area p{
	color:#2b2b2b;
	font-size:14px;
}

.who-we-are-area p.who-we-are-title{
	font-size: 24px;
	font-weight: bold;
	color:black;
	letter-spacing: -1px;
}

.foot_bottom .copy-right-area{
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}

.preload_image img{
	max-width: 296px;
	max-height: 206px;
}

.preload_image {
	float: left;
	padding:5px;
	border:1px solid #ececec;
}

.review-info{
	margin-left:28px;
	float: left;
}

.review-info-title {
	font-size:35px;
	letter-spacing: -1px;
	font-weight: bold;
	color:black;
	padding-bottom: 0px;
}